<div class="row text-center center">
    <h1 class="text-info">Página não encontrada!!!</h1>
    <div>
        <a class="btn btn-outline-success" asp-controller="Filmes" asp-action="Index">Página Inicial</a>
    </div>
</div>