<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Você não tem autorização para aceder a esta página</h2>
        <p>Por favor, clica no botão abaixo para voltar à página inicial.</p>
        <hr />
        <p>
            <a asp-controller="Filmes" asp-action="Index" class="btn btn-outline-success">Página Inicial</a>
        </p>
    </div>
</div>